{% extends 'base.html' %}


{% block content %}
<div class="row mb-2">

		{% if publicaciones %}
			{% for noticia in publicaciones %}


						<div class="col-md-15">
							<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-10 shadow-sm h-md-250 position-relative">
							<div class="col p-4 d-flex flex-column position-static">
							<strong class="d-inline-block mb-2 text-primary">publicacion</strong>
							<h3 class="mb-0">{{ noticia.titulo}}</h3>
							<div class="mb-1 text-muted">{{ noticia.fecha_creacion| date:"D d n Y"}}</div>
							<div class="mb-1 text-muted">{{ noticia.autor}}</div>
							<p class="card-text mb-auto">{{ noticia.contenido}}</p>
							
								{%if user.is_authenticated%}<div class="row">
								<a href="{% url 'detalle' noticia.id %}">ver mas</a>
								<a href="{% url 'actualizar' noticia.id %}">editar</a>
								{%endif%}
								
	
			{% endfor %}
			{% else %}
			<h6>no hay registro de publicaciones </h6>
			<button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#exampleModal">
				agregar publicacion
			</button>

		{% endif %}

</div>
{% endblock %}
